@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #052136; /* fundo azul escuro */
    --foreground: #fdfdf9; /* texto claro */
    --card: #ffffff;
    --card-foreground: #0a0607;

    --popover: #ffffff;
    --popover-foreground: #0a0607;

    --primary: #cc9933; /* dourado */
    --primary-foreground: #ffffff; /* texto claro */

    --secondary: #f4f3ef;
    --secondary-foreground: #1c1713;

    --muted: #f4f3ef;
    --muted-foreground: #746c60;

    --accent: #f4f3ef;
    --accent-foreground: #1c1713;

    --destructive: #f06464;
    --destructive-foreground: #fdfdf9;

    --border: #e6e4df;
    --input: #e6e4df;
    --ring: #cc9933; /* dourado para o foco */

    --radius: 0.5rem;
  }

  .dark {
    --background: #052136; /* fundo azul escuro */
    --foreground: #fdfdf9; /* texto claro */

    --card: #0a0607;
    --card-foreground: #fdfdf9;

    --popover: #0a0607;
    --popover-foreground: #fdfdf9;

    --primary: #cc9933; /* dourado */
    --primary-foreground: #ffffff; /* texto claro */

    --secondary: #2a231f;
    --secondary-foreground: #fdfdf9;

    --muted: #2a231f;
    --muted-foreground: #a99f8e;

    --accent: #2a231f;
    --accent-foreground: #fdfdf9;

    --destructive: #933636;
    --destructive-foreground: #fdfdf9;

    --border: #2a231f;
    --input: #2a231f;
    --ring: #cc9933; /* dourado para o foco */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
