@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdfdf9;
    --foreground: #052136;
    --card: #fdfdf9;
    --card-foreground: #0a0607;

    --popover: #fefcf8;
    --popover-foreground: #0a0607;

    --primary: #cc9933; /* dourado */
    --primary-foreground: #ffffff; /* texto claro */
    --secondary: #f4f3ef;
    --secondary-foreground: #1c1713;

    --muted: #f4f3ef;
    --muted-foreground: #746c60;

    --accent: #f4f3ef;
    --accent-foreground: #1c1713;

    --destructive: #f06464;
    --destructive-foreground: #fdfdf9;

    --border: #e6e4df;
    --input: #e6e4df;
    --ring: #052136;

    --radius: 0.5rem;
  }

  .dark {
    --background: #052136;
    --foreground: #fdfdf9;

    --card: #052136;
    --card-foreground: #fdfdf9;

    --popover: #0a0607;
    --popover-foreground: #fdfdf9;

    --primary: #cc9933; /* manter dourado */
    --primary-foreground: #052136; /* fundo escuro para contraste */

    --secondary: #2a231f;
    --secondary-foreground: #fdfdf9;

    --muted: #1c3a52;
    --muted-foreground: #d1d5db;

    --accent: #2a231f;
    --accent-foreground: #fdfdf9;

    --destructive: #933636;
    --destructive-foreground: #fdfdf9;

    --border: #cc9933;
    --input: #cc9933;
    --ring: #052136;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
